@import '../constant/variable';
.message{
    position: fixed;
    z-index: 5;
    right: 0;
    width: 100%;
    max-width: 300px;
    background: var(--white);
    padding: $lg-pd $lg-pd;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all .75s ease-in-out;
    transform: translateX(100%);
    top: 100px;
    box-shadow: var(--shadow);
    color: $white;
    opacity: 0;
    visibility: hidden;
}

.back{
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

.close{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: var(--white);
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
    cursor: pointer;
}

.success{
    background-color: rgba(var(--success-message));
}
.failed{
    background-color: rgba(var(--failed-message));
}