@import '../../../constant/variable';
.container{
    a{
        color: var(--button-green);
        transition: all .15s ease;
        &:hover{
            color: var(--brown);
        }
    }
    padding-top: $sm-pd;
}