.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    div{
        width: 25px;
        height: 2px;
        background: var(--black);
        &:first-child{
            transform: rotate(45deg);
        }
        &:last-child{
            transform: rotate(-45deg) translateX(1px) translateY(-1px);
        }
    }
    cursor: pointer;
}