@import '../constant/variable';
.container{
    z-index: 15;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--search-bg);
}
.row{
    padding-bottom: $md-pd;
    text-transform: $capitalize;
}
.grid__layout{
    padding: $lg-pd;
}
.items{
    padding: 0 0 $md-pd 0;
    margin-top: $md-pd;
}
.flow__items{
    overflow-x: hidden;
}
.title{
    font-size: $fs-sm;
}
.image{
    width: 100%;
    min-height: 220px;
}
.grid{
    grid-template-columns: repeat(6, 1fr);
    padding-top: 30px;
    .contain{
        display: block !important;
    }
}
@media screen and (max-width: 1200px) {
    .image{
        min-height: 150px;
    }
}
@media screen and (max-width: 991px) {
    .items{
        height: 50vh;
        overflow: scroll;
    }
    .grid{
        grid-template-columns: repeat(4, 1fr);
        height: 50vh;
        overflow: scroll;
    }
}
@media screen and (max-width: 768px) {
    .items{
        height: 70vh;
    }
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 576px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
        height: 70vh;
    }
}