.right{
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .right{
        max-width: 720px;
        padding: 0 15px;
        margin: 0 auto;
    }
}