@import '../constant/variable';
.button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: $fs-md;
    border-radius: 50%;
    background: $brown;
    color: $white;
    cursor: pointer;
    transition: all .5s;
    transform: translateY(-20%);
    opacity: 0;
    pointer-events: none;
    z-index: 5;
}

.back{
    pointer-events: visible;
    opacity: 1;
    transform: translateY(0%);
}