@import '../../../constant/variable';
.swiper{
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: var(--shadow);
    .navigation{
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 100;
        color: rgba($color: $white, $alpha: .75);
        font-size: 20px;
        cursor: pointer;
    }
    .prev{
        right: 50px;
    }
    .next{
        right: 20px;
    }
}