@import '../constant/variable';

.btn{
    position: $ab;
    top: 30%;
    svg{
        color: #2A8C3B;
    }
    right: 25%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $white;
    cursor: pointer;
    z-index: 4;
}

.ripple{
    background: rgba($color: $white, $alpha: .8);
    animation: ripple 1.5s cubic-bezier(0,0,.2,1) infinite;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
}

@keyframes ripple {
    0%{
        z-index: -1;
        opacity: 1;
        transform: scale(0);
    }
    50%, 100%{
        z-index: 1;
        transform: scale(1.75);
        opacity: 0;
    }
}