@import '../../constant/variable';
.form{
    margin: 0;
    max-width: 100%;
}
.note{
    textarea{
        width: 100%;
        padding: 10px 20px;
        line-height: 30px;
        border: 1px solid #ddd;
        resize: none;
        &:focus{
            outline: none;
        }
        color: var(--black);
        background: transparent;
        &::placeholder{
            color: var(--black);
        }
        border-radius: 7px;
        transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover{
            box-shadow: $sm-shadow;
        }
    }
    padding-top: 20px;
}
@media screen and (max-width: 768px) {
    .form{
        padding: 10px;
    }
}
@media screen and (max-width: 576px) {
    .form{
        width: 100%;
    }
}
