@import '../../../constant/variable';
.container{
    padding: $md-pd;
    background: var(--white);
    box-shadow: var(--shadow);
    border-radius: 10px;
    transition: all .35s ease-in-out;
}

@media screen and (max-width: 991px) {
    .container{
        padding: $sm-pd;
    }
}
