.container{
    min-height: 50vh;
    .form{
        min-width: 400px;
    }   
}

@media screen and (max-width: 576px) {
    .container{
        .form{
            min-width: 90%;
            max-width: 100%;
        }
    }
}