@import '../../constant/variable';
.input{
    position: relative;
    svg{
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
    }
}
.btn{
    background: $brown !important;
    span{
        color: $white !important;
    }
}
.input--email{
    input{
        padding-right: 35px;
    }
}